* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body{
 -webkit-font-smoothing: antialiased;
 background-color: #95a5a6;
}
body, input, button {
  font-family: Roboto, Arial, Helvetica, sans-serif
}

.container {
  margin-top: 4%;  
  width: 100%;  
  display: flex;
  align-items: center;    
}

.form {
  width: 90%;  
  margin: 0 auto;
  text-align: center;
  background-color: #dcdde1;
  border-radius: 20px;
  padding: 30px;
}

.form > h1 {
  margin-bottom: 30px;
}

.form > button {
  border-radius: 2px;
  width: 20%;
  font-weight: bold;
  background-color:#e74c3c;
  color:white;
  height: 30px;
  border: 0;  
  cursor: pointer; 
}

.form > input {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 2px;
  width: 30%;
  box-shadow: 0;
  height: 30px; 
}